.rating {
    direction: rtl; 
    display: flex;
    justify-content: center; 
    margin-bottom: 10px; 
}

.rating input {
    display: none; 
}

.rating label {
    font-size: 30px;
    color: gray; 
    cursor: pointer; 
}

.rating label:hover,
.rating label:hover ~ label {
    color: #3e9497; 
}

.rating input:checked ~ label {
    color: #3e9497;
}
