<div class="container my-5">
    <h1 class="text-center mb-5 text-[#66b2b4] lg:text-4xl text-3xl font-extrabold">Profile Information</h1>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 shadow-lg p-4 rounded-3 bg-white">
        <div class="d-flex flex-column align-items-center">
          <!-- Profile Image Section -->
          <div class="mb-4">
            <img class="rounded-full w-36 h-36 shadow-lg transition-transform duration-300 hover:scale-110" 
                 [src]="userImage + user.image" >
          </div>
          <!-- User Info Section -->
          <div class="w-100 mb-4 text-center">
            <label class="form-label font-bold">Email:</label>
            <p class="text-muted">{{user.email}}</p>
          </div>
          <div class="w-100 mb-4">
            <label class="form-label font-bold">Name:</label>
            <input class="form-control border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#66b2b4] transition duration-300 " 
                   type="text" placeholder="Name" (keyup)="this.username=userName.value" #userName [value]="user.name">
          </div>
          <div class="w-100 mb-4">
            <label class="form-label font-bold">Change Profile Picture:</label>
            <input class="form-control border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#66b2b4] transition duration-300" 
                   type="file" accept="image/*" (change)="getImage($event)">
          </div>
          <div class="w-100 d-grid">
            <button (click)="updateUser()" class="d-block w-75 m-auto p-3 rounded-md bg-[#66b2b4] text-white font-bold hover:bg-[#55a0a2] transition duration-300 ">Update Profile</button>
          </div>
          <div class="w-100 d-grid mt-4">
            <button (click)="deleteAccount()" class="d-block w-75 m-auto p-3 rounded-md bg-[#66b2b4] text-white font-bold hover:bg-[#55a0a2] transition duration-300">
              Delete Account
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <!-- Change Password Section -->
  <div class="container my-5">
    <h1 class="text-center mb-5 text-[#66b2b4] lg:text-4xl text-3xl font-extrabold">Change Password</h1>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 shadow-lg p-4 rounded-3 bg-white">
        <form (ngSubmit)="changePassword(changePasswordForm)" class="w-100">
          <div class="mb-4">
            <label class="form-label font-bold">Current Password:</label>
            <input class="form-control border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#66b2b4] transition duration-300" 
                   formControlName="currentPassword" type="password" placeholder="Current Password">
          </div>
          <div class="mb-4">
            <label class="form-label font-bold">New Password:</label>
            <input class="form-control border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#66b2b4] transition duration-300" 
                   formControlName="password" type="password" placeholder="New Password">
          </div>
          <div class="mb-4">
            <label class="form-label font-bold">Confirm Password:</label>
            <input class="form-control border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#66b2b4] transition duration-300" 
                   formControlName="confirmPassword" type="password" placeholder="Confirm Password">
          </div>
          <div class="d-grid">
            <button class="d-block form-control w-75 m-auto p-3 rounded-md bg-[#66b2b4] text-white font-bold hover:bg-[#55a0a2] transition duration-300">Update Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  