<div class="container">
  <h2 class="text-center my-5">My Reviews</h2>
  <hr class="my-3">
  <table class="w-100">
    <thead>
      <tr class="border-bottom">
        <th>Product</th>
        <th>Review</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews;" class="m-5 border-bottom">
        <td>
          <img class="mx-3" width="50px" [src]="productImage + review?.product?.cover" alt="{{ review?.product?.name }}">
          {{ review?.product?.name }}
        </td>
        <td>
          <span *ngIf="!review.isEditing">{{ review?.comment }}</span>
          <input *ngIf="review.isEditing" [(ngModel)]="review.comment" class="form-control" />
        </td>
        <td>
          <span *ngIf="!review.isEditing">{{ review?.rate }}</span>
          <input *ngIf="review.isEditing" [(ngModel)]="review.rate" class="form-control" />
        </td>
        <td>
          <button *ngIf="!review.isEditing" (click)="editReview(review)" class="btn btn-primary btn-sm rounded-3 mx-3">Update</button>
          <button *ngIf="review.isEditing" (click)="updateReview(review)" class="btn btn-success btn-sm rounded-3 mx-3">Save</button>
          <button (click)="deleteReview(review._id!)" class="btn btn-danger btn-sm rounded-3">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container m-auto mt-5 w-25">
  <ul class="pagination">
    <li (click)="changePage(1)" class="page-item">
      <button class="page-link">First</button>
    </li>
    <li *ngIf="pagination.prev" (click)="changePage(pagination.prev)" class="page-item">
      <button class="page-link">{{ pagination.prev }}</button>
    </li>
    <li class="page-item">
      <button disabled class="page-link">{{ pagination.currentPage }}</button>
    </li>
    <li *ngIf="pagination.next" (click)="changePage(pagination.next)" class="page-item">
      <button class="page-link">{{ pagination.next }}</button>
    </li>
    <li (click)="changePage(pagination.totalPages!)" class="page-item">
      <button class="page-link">Last</button>
    </li>
  </ul>
</div>
