<!-- <div class="bg-black text-white container mt-4 d-flex justify-content-around align-items-center">
    <div class="text-center m-3">
      <h1>Our Products</h1>
    </div>
  </div> -->
  <div class="bg-gradient-to-b mt-4 from-[#609d9f] via-[#66b2b4] to-[#1bccd5] px-6 sm:py-20 py-10 font-[sans-serif]">
    <div class="max-w-screen-xl mx-auto text-center text-white">
      <h1 class="text-5xl max-sm:text-3xl font-extrabold leading-tight mb-6">Welcome to Our Premium Service</h1>
      <p class="text-lg mb-12">Experience excellence like never before with our exclusive products and services.</p>
      <button type="button" class="bg-[#57989a] text-white text-lg tracking-wide px-8 py-2.5 rounded-full transition duration-300 ease-in-out shadow-lg hover:shadow-xl">Get Started</button>
    </div>
  </div>